nav {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    border: none;
    height: 5rem;
    &:focus {
      outline: none;
    }
    div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 100%;
      img {
        width: 2.5rem;
      }
      p {
        color: #fea8b3;
        &.active {
          color: #fa314a;
        }
      }
    }
  }
}
