div.currency {
  & > header {
    background-color: lightslategrey;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  div.input {
    border: solid 1px lightslategrey;
    border-radius: 3px;
    margin: 3rem auto;
    width: 90%;
    select {
      display: inline-block;
      width: 30%;
      background-color: rgb(183, 196, 209);
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }
    input {
      width: 70%;
      border: none;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }
  }

  div.buttons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    button {
      color: #fff;
      background-color: lightskyblue;
      border: none;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      border-radius: 8px;
      width: 120px;
      text-transform: uppercase;
    }
  }
}
