div.overall {
  background-color: #ee237a;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  div.separator {
    width: 2px;
    background-color: lightgray;
    height: 100px;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 40%;
    div.circle {
      height: 50px;
      width: 50px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: rgb(63, 143, 170);
        font-size: 2rem;
      }
    }
    p {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      &:last-child {
        font-size: 1.5rem;
      }
    }
  }
}
